@use "../abstracts";

.checkout-page {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    background: var(--checkout-bg);
    padding-bottom: 50px;

    &__breadcrumbs {
        background: var(--breadcrumbs-bg);
        border-radius: 20px;
    }
}

.checkout-container {
    margin-top: 30px;

    @include abstracts.screen(md) {
        margin-top: 20px;
    }
}

.cart-info {
    padding: 30px;
    border-radius: 20px;
    background: var(--cart-info-bg);
    box-shadow: 0px 20px 60px 10px var(--cart-info-shadow);

    &__top {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__edit-btn {
        display: flex;
        align-items: center;
        color: var(--heading-color);
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44; /* 144.444% */
        gap: 10px;
    }

    &__sub-heading {
        color: var(--text-color);
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44; /* 144.444% */
        margin-bottom: 30px;
        margin-top: 30px;
    }

    &__heading {
        color: var(--heading-color);
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.41; /* 141.667% */

        &--lv2 {
            color: var(--text-color);
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.45; /* 145.455% */
        }
    }

    &__desc {
        margin-top: 7px;
        color: var(--text-color);
        font-size: 1.5rem;
        line-height: 1.46; /* 146.667% */
    }

    &__list {
        margin-top: -30px;
    }

    &__bottom {
        margin-top: 30px;
    }

    &__row,
    &__continue-link {
        color: var(--cart-info-color);
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44; /* 144.444% */
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & + & {
            margin-top: 10px;
        }

        &--heading {
            font-size: 2.2rem;
            font-weight: 700;
        }
    }

    &__separate {
        margin: 30px 0;
        width: 100%;
        height: 2px;
        background: var(--cart-info-input-border);
    }

    &__continue {
        display: flex;
        align-items: flex-end;
        height: 100%;

        &-link {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    &__icon {
        rotate: 90deg;
    }

    &__link {
        display: flex;
        margin: 0 auto;
        margin-top: 30px;
        max-width: 330px;
    }

    &__checkbox {
        &-input {
            appearance: none;
            &::before {
                content: url("../icons/checkbox-uncheck.svg");
            }

            &:not(:checked)::before {
                filter: var(--icon-color);
            }

            &:checked::before {
                content: url("../icons/checkbox-checked.svg");
            }
        }
    }

    &__form {
        margin-bottom: 30px;
    }
}

.cart-info + .cart-info {
    margin-top: 30px;
}

.cart-item {
    display: flex;
    gap: 30px;
    padding: 30px 0;
    border-bottom: 1px solid var(--cart-info-input-border);

    &__thumb {
        width: 172px;
        height: 172px;
        object-fit: contain;

        @include abstracts.screen(xxl) {
            width: 150px;
            height: 150px;
        }

        @include abstracts.screen(lg) {
            width: 120px;
            height: 120px;
        }

        @include abstracts.screen(md) {
            width: 60px;
            height: 60px;
        }
    }

    &__content {
        display: flex;
        flex: 1;
        align-self: flex-start;

        @include abstracts.screen(md) {
            flex-direction: column;
            gap: 60px;
        }

        &-left {
            flex: 1;
        }

        &-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__title {
        max-width: 374px;
        color: var(--heading-color);
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44; /* 144.444% */
    }

    &__price-wrap {
        margin-top: 16px;
        color: #9e9da8;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44; /* 144.444% */
    }

    &__status {
        color: #67b044;
    }

    &__control {
        margin-top: 16px;
        display: flex;
        align-items: center;
        gap: 20px;
        height: 44px;

        &--small {
            gap: 30px;
            min-height: 44px;
        }

        &-btn {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &--column {
            @include abstracts.screen(md) {
                flex-direction: column;
                align-items: start;
                margin-bottom: 20px;
            }
        }
    }

    &__input {
        display: flex;
        align-items: center;
        height: 44px;
        padding: 20px 20px;
        gap: 10px;
        border-radius: 10px;
        border: 1px solid var(--cart-info-input-border);
        color: var(--heading-color);
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46; /* 146.667% */

        &-btn {
            display: flex;
        }
    }

    &__total-price {
        color: var(--heading-color);
        text-align: right;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.45; /* 145.455% */

        @include abstracts.screen(md) {
            text-align: left;
            margin-top: 16px;
        }
    }
}

.gift-item {
    display: flex;
    gap: 20px;
    border-radius: 20px;
    background: var(--gift-bg);
    box-shadow: 0px 20px 60px 10px var(--gift-shadow);

    &__icon-wrap {
        display: flex;
        padding: 10px;
        border-radius: 14px;
        background: var(--gift-linear);
    }

    &__content {
        max-width: 235px;
    }

    &__title {
        color: var(--heading-color);
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44; /* 144.444% */
    }

    &__desc {
        margin-top: 10px;
        color: var(--text-color);
        font-size: 1.4rem;
        line-height: 1.42; /* 142.857% */
    }
}

.user-address {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        @include abstracts.screen(md) {
            flex-wrap: wrap;
        }
    }

    &__title,
    &__btn {
        color: var(--heading-color);
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44; /* 144.444% */
    }

    &__desc,
    .address-card__desc {
        margin-top: 5px;
        color: var(--text-color);
        font-size: 1.5rem;
        line-height: 1.46; /* 146.667% */
    }

    &__btn {
        color: #1a162e;
        min-width: 250px;
        height: 40px;
    }

    &__message {
        margin-top: 30px;
        font-weight: 500;
    }

    &__link {
        color: #0071dc;
        margin-left: 5px;
    }
}

.address-card {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    @include abstracts.screen(md) {
        flex-direction: column;
        gap: 20px;
    }

    &__left {
        display: flex;
        gap: 10px;
    }

    &__title {
        color: var(--heading-color);
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44; /* 144.444% */
    }

    &__desc {
        width: min(520px, 90%);
    }

    &__control {
        height: 100%;
        display: flex;
        align-items: flex-end;
    }

    &__list {
        margin-top: 20px;
        display: flex;
        align-items: center;
        color: var(--text-color);
        font-size: 1.4rem;
        line-height: 1.42; /* 142.857% */
        gap: 30px;
        list-style: disc;
        margin-left: 20px;

        @include abstracts.screen(sm) {
            flex-direction: column;
            align-items: initial;
            gap: 16px;
        }
    }
}

.payment-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    background: var(--body-bg);

    &__title {
        color: var(--text-color);
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44; /* 144.444% */
    }

    &__desc {
        margin-top: 5px;
        color: var(--text-color);
        font-size: 1.5rem;
        line-height: 1.46; /* 146.667% */
    }

    &__detail {
        color: #77dae6;
        font-size: 1.5rem;
        line-height: 1.46; /* 146.667% */
        text-decoration: underline;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__thumb {
        width: 70px;
        height: 54px;
        object-fit: contain;
        border-radius: 10px;
        background: url(<path-to-image>) lightgray -9px -17px / 125.714%
            162.963% no-repeat;
    }

    &__cost-wrap {
        display: flex;
        align-items: center;
        gap: 14px;
        flex-direction: row-reverse;

        @include abstracts.screen(sm) {
            margin-left: 90px;
        }
    }

    &__cost {
        color: var(--text-color);
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.44; /* 144.444% */
    }

    .cart-info__checkbox-input:not(:checked) + &__cost,
    .cart-info__checkbox-input::before {
        color: #9e9da8;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.44; /* 144.444% */
        opacity: 0.7;
    }

    &__btn {
        color:#1a162e;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.45; /* 145.455% */
    }

    &__col {
        @include abstracts.screen(sm) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: initial;
            gap: 10px;
        }
    }
}
