@use "../abstracts";

:root.dark {
    --text-color: #b9babe;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
        saturate(7500%) hue-rotate(151deg) brightness(103%) contrast(100%);

    --body-bg: #292e39;
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    // dropdown
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(17%) sepia(6%)
        saturate(2076%) hue-rotate(186deg) brightness(90%) contrast(87%);
    --top-menu-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(100%)
        sepia(32%) saturate(167%) hue-rotate(77deg) brightness(102%)
        contrast(96%);

    // sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow: rgba(23, 28, 40, 0.4);

    --cate-item-bg: #171c28;
    --heading-color: #fff;
    --cate-thumb-bg: #292e39;

    --filter-bg: #171c28;
    --like-btn-shadow: rgba(124, 124, 124, 0.2);

    --product-card-bg: #171c28;
    --product-card-shadow: rgba(0, 0, 0, 0.2);

    // filter
    --filter-form-shadow: rgba(0, 0, 0, 0.4);
    --filter-form-bg: #292e39;
    --form-tag-bg: #292e39;

    // footer
    --footer-bg: #171c28;

    // auth
    --auth-content-bg: #292e39;

    // form
    --form-input-border: #b9babe;
    --form-auth-text: #b9babe;

    --intro-bg: #171c28;

    // product
    --product-detail-bg: #292e39;
    --breadcrumbs-bg: #171c28;
    --breadcrumbs-shadow: rgba(23, 28, 40, 0.2);

    --prod-info-bg: #171c28;

    // act dropdown
    --act-dropdown-bg: rgba(23, 28, 40, 0.4);
    --act-dropdown-border: #171c28;
    --act-dropdown-filter: brightness(0) saturate(100%) invert(10%) sepia(4%)
        saturate(4611%) hue-rotate(184deg) brightness(93%) contrast(79%);

    --prod-border-color: #171c28; 

    // checkout
    --checkout-bg: #292E39;
    --cart-info-shadow: rgba(23, 28, 40, 0.2);
    --cart-info-input-border: #292E39;
    --cart-info-color: #B9BABE;
    --gift-bg: #171C28;
    --gift-shadow: rgba(23, 28, 40, 0.20);
    --cart-info-bg: #171C28;
    --gift-linear: #292E39;
    --alpha: 0.7;

}
