@use "../abstracts";

:root {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(6%) sepia(56%)
        saturate(1709%) hue-rotate(228deg) brightness(95%) contrast(93%);

    --body-bg: #f6f6f6;
    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    // dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;

    // sidebar
    --sidebar-bg: #fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.4);

    --cate-item-bg: #eee;
    --heading-color: #1a162e;
    --cate-thumb-bg: #fff;
    @include abstracts.screen(md) {
        --cate-item-bg: #fff;
    }

    --filter-bg: #fff;
    --like-btn-shadow: rgba(124, 124, 124, 0.2);

    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);

    // filter form
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.4);
    --form-tag-bg: #ededf6;

    // footer
    --footer-bg: #eeeeee;

    // auth
    --auth-content-bg: #fff;

    // form
    --form-input-border: #d2d1d6;
    --form-auth-text: #9e9da8;

    @include abstracts.screen(md) {
        --intro-bg: #fff;
    }

    // product
    --product-detail-bg: #fff;

    @include abstracts.screen(md) {
        --product-detail-bg: #fafafd;
    }
    --breadcrumbs-bg: #f6f6f6;

    @include abstracts.screen(md) {
        --breadcrumbs-bg: #fff;
    }
    --breadcrumbs-shadow: rgba(237, 237, 246, 0.2);

    --prod-info-bg: #f6f6f6;
    @include abstracts.screen(md) {
        --prod-info-bg: #fff;
    }

    // act dropdown
    --act-dropdown-bg: rgba(200, 200, 200, 0.4);
    --act-dropdown-border: #D2D1D6;

    // checkout
    --checkout-bg: #EEEEEE;
    --cart-info-shadow: rgba(237, 237, 246, 0.20);
    --cart-info-input-border: #D2D1D6;
    --cart-info-color: #1A162E;
    --gift-bg: #fff;
    --gift-shadow: rgba(237, 237, 246, 0.20);
    --cart-info-bg: #fff;
    --gift-linear: linear-gradient(0deg, rgba(255, 255, 255, 0.90) 0%, rgba(255, 255, 255, 0.90) 100%), #7644E1;

    --alpha: 0.4;

    // shipping 
}
