@use "../abstracts";

:root {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(6%) sepia(56%)
        saturate(1709%) hue-rotate(228deg) brightness(95%) contrast(93%);

    --body-bg: #f6f6f6;
    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    // dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;

    // sidebar
    --sidebar-bg: #fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.4);

    --cate-item-bg: #eee;
    --heading-color: #1A162E;
    --cate-thumb-bg: #fff;
    @include abstracts.screen(md) {
    --cate-item-bg: #fff;
    } 

    --filter-bg: #fff;
    --like-btn-shadow: rgba(124, 124, 124, 0.20);

    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);

    // filter form
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.40) ;
    --filter-form-tag-bg: #F8F8FB;

    
    // footer
    --footer-bg: #eeeeee;
}
