@use "../abstracts";

.cate-item {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 20px 26px;
    border-radius: 16px;
    background: var(--cate-item-bg);
    gap: 20px;
    height: 100%;

    @include abstracts.screen(xl) {
        flex-direction: column;
    } 

    @include abstracts.screen(md) {
        flex-direction: row;
    }

    &__thumb {
        display: block;
        background: var(--cate-thumb-bg);
        width: 116px;
        height: 116px;
        object-fit: contain;
        border-radius: inherit;

        @include abstracts.screen(xl) {
            margin: 0 auto;
            width: 100%;
            height: 150px;
        }

        @include abstracts.screen(md) {
            width: 88px;
            height: 88px;
            margin: 0;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        color: var(--heading-color);
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.45; /* 145.455% */
    }

    &__desc {
        margin-top: 6px;
        color: var(--text-color);
        font-size: 1.6rem;
        line-height: 1.5; /* 150% */
    }
}
