<div class="container">
    <div class="footer__inner">
        <!-- footer left -->
        <div class="footer__left">
            <h2 class="footer__heading">Sign up for our newsletter</h2>
            <!-- form -->
            <form class="footer__form" action="">
                <input
                    type="email"
                    name=""
                    placeholder="Enter your email"
                    class="footer__form-input"
                />
                <button class="btn btn--primary footer__form-btn">SEND</button>
            </form>

            <div class="footer__separate"></div>

            <div class="footer__socials">
                <a
                    href="#!"
                    class="footer__social-link footer__social-link--facebook"
                >
                    <img
                        src="./assets/icons/facebook.svg"
                        alt=""
                        class="footer__social-icon"
                    />
                </a>
                <a
                    href="#!"
                    class="footer__social-link footer__social-link--youtube"
                >
                    <img
                        src="./assets/icons/youtube.svg"
                        alt=""
                        class="footer__social-icon"
                    />
                </a>
                <a
                    href="#!"
                    class="footer__social-link footer__social-link--tiktok"
                >
                    <img
                        src="./assets/icons/tiktok.svg"
                        alt=""
                        class="footer__social-icon"
                    />
                </a>
                <a
                    href="#!"
                    class="footer__social-link footer__social-link--twitter"
                >
                    <img
                        src="./assets/icons/twitter.svg"
                        alt=""
                        class="footer__social-icon"
                    />
                </a>
                <a
                    href="#!"
                    class="footer__social-link footer__social-link--linkedin"
                >
                    <img
                        src="./assets/icons/linkedin.svg"
                        alt=""
                        class="footer__social-icon"
                    />
                </a>
            </div>
        </div>

        <!-- footer right -->
        <div class="footer__right">
            <!-- list 1 -->
            <section class="footer__column">
                <h3 class="footer__sub-title">Pages</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Home</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">About</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Blog</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Post</a>
                    </li>
                </ul>
            </section>

            <!-- list 2 -->
            <section class="footer__column">
                <h3 class="footer__sub-title">Overview</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Code</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Scss</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">HTML</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">NodeJS</a>
                    </li>
                </ul>
            </section>

            <!-- list 3 -->
            <section class="footer__column">
                <h3 class="footer__sub-title">Product</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Best Project</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Investors</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Press</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Post</a>
                    </li>
                </ul>
            </section>

            <!-- list 4 -->
            <section class="footer__column">
                <h3 class="footer__sub-title">About us</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Manage</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Investors</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Press</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Goods</a>
                    </li>
                </ul>
            </section>
        </div> 
    </div>

    <div class="footer__separate-end"></div>

    <div class="footer__bottom">
        <p class="footer__copyright">
            © 2010 - 2025 Grocery Mart. All rights reserved.
        </p>
    </div>
</div>
